# Ignore Node Modules
node_modules

# Ignore the build folder
build/*
!build/.gitkeep

# Ignore the dist folder
dist/*
!dist/.gitkeep

# Ignore coverage
coverage

# Ignore local config if created
.config
